<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>DOM As the Source of Truth</title>
    <link rel="stylesheet" type="text/css" href="presentation.css">
	<script src="ext/chart.js"></script>
	<script src="ext/htmx.js"></script>
	<style>
		:root {
			--my-color: #C00000;
		}
		table {
			--my-color: #000080;
		}
		th {
			background-color: var(--my-color);
			color: white;
		}
		</style>
</head>
<body>

	<div class="slide">
		<h1>DOM As the Source of Truth</h1>

		<p>Sorting and filtering our table with a chart</p>

		<div class="chartwrap">
			<canvas id="myChart">
			</canvas>
		</div>

		<div
			id="loader"
			hx-get="table-only.html"
			hx-trigger="load"
			hx-swap="innerHTML"
		>
		</div>

		<button
			hx-get="table-only.html?_={%20new%20Date().getTime()%20}" 
			hx-target="#loader" 
			hx-swap="innerHTML"
		>
			Reload Table
		</button>

		<p><a href="0110_closing.html">Next</a></p>
	
	</div>

	<script src="js/stimulus.js"></script>
	<script src="js/app.js"></script>
	<script src="tablesort/js/controllers/tablesort_controller.js"></script>
	<script src="tablefilter/js/controllers/tablefilter_controller.js"></script>
	<script src="chartjs/js/controllers/chartjs_controller.js"></script>

</body>
</html>